{% extends 'home/base.html' %}

{% block title %}
    Votacion
{% endblock %}

{% block contenido %}
    <h1>Votacion</h1>
    <form method="POST"> {% csrf_token %}

        <div class="col-md-6">
            <h2>Reina UPSIN</h2>
            {% for participante in participantes %}
                <div class="row">
                    {% if participante.sexo == 'femenino' %}
                        <div class="span4">
                            <div class="clearfix content-heading">
                                <img class="pull-left img-part" src="{{ MEDIA_URL }}{{ participante.foto }}"/>

                                <h3 class="nombre">{{ participante.nombre }}</h3>
                                <h4 class="carreras">{{ participante.carreras }}</h4>
                                <label class="elegir" >Elegir</label>
                                <input id="reinas" type="radio" name="reinas" title="Elige"
                                       value="{{ participante.matricula }}"/>
                            </div>
                            <br/>
                        </div>
                        <div class="col-md-3">
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


        <div class="col-md-6">
            <h2>Rey UPSIN</h2>
            {% for participante in participantes %}
                <div class="row">
                    {% if participante.sexo == 'masculino' %}
                        <div class="span4">
                            <div class="clearfix content-heading">
                                <img class="pull-left img-part" src="{{ MEDIA_URL }}{{ participante.foto }}"/>

                                <h3 class="nombre">{{ participante.nombre }}</h3>
                                <h4 class="carreras">{{ participante.carreras }}</h4>
                                <label class="elegir">Elegir</label>
                                <input id="rey" type="radio" name="rey" title="Elige"
                                       value="{{ participante.matricula }}"/>
                            </div>
                            <br/>
                        </div>
                        <div class="col-md-3">
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


        <input type="submit" value="Votar"/>
    </form>

{% endblock %}